body {
	background-color: #FFFFFF;
	margin: 0 auto;
	margin-top: 0px;
	font-family: "Palanquin", Helvetica, sans-serif;
}

p {
	line-height: 1.6;
	color: #4C4C4C;
}


#nav {
	font-size: 18px;
    list-style-type: none;
    background-color: #606573;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-right: 50px;
    overflow: auto;
    top: 0;

}

#nav li {
	display: inline-block;
    float: center;

}

#nav li a {
	display: block;
    color: #dbdfe0;
    text-align: center;
    padding: 18px 22px;
    text-decoration: none;
}

#nav li a:hover {
	color: #89d4c4;
    text-decoration: underline;
}

ul {
	
}

li {
   

}

li a {
    
}

li a:hover {
    
}


#wrapper {
	text-align: center;
	overflow:hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 300px;
	flex-wrap: wrap;
	margin: 50px 0;
}

#header-large {
	background-color: #606573;
	margin-top: 0;
	width: 100%;
	height: 100%;
}

#name {
	color: #dbdfe0;
	text-transform: uppercase;
	font-size: 12px;
	padding: 30px;
	display: inline;
	font-weight: lighter;

}

#welcome-message {
	color: #dbdfe0;
	font-size: 30px;
	font-family: "Baskerville", serif;
	width: 80%;
	text-align: center;
	margin: auto;
	display: block;
	padding-top: 40px;

}

#subtitle {
	color: #dbdfe0;
	font-size: 20px;
	font-weight: lighter;
	width: 75%;
	text-align: center;
	margin: auto;
	display: block;
	padding-top: 20px;
	padding-bottom: 50px;

}

#header-border {
	background-color: #89d4c4;
	margin: 0;
	width: 100%;
	height: 2vh;
}

#photo {
	display: inline-block;
	vertical-align: middle;
	margin: 25px;
	/*margin: 0 auto;*/
}

#photo > img {
	height: 300px;
	/*padding: 50px;*/

}

#writing {
	vertical-align: top;
	text-align: left;
	padding: 10px;
	flex-basis: 400px;
	margin: 30px;
}
#writing2 {
	vertical-align: top;
	text-align: left;
	padding: 10px;
	flex-basis: 800px;
	margin: 5px 30px;
	line-height: 2;
}

#writing2 > a {
	font-weight: bolder;
	text-transform: underline;
	color: #000000;
}

#writing2 > ul > li > a {
	font-weight: bolder;
	text-transform: underline;
	color: #000000;
}

#highlight1 {
	background-color: #606573;
	height: 300px;
	width: 100%;
	display: inline;

}

#highlight2 {
	background-color: #606573;
	height: 300px;
	width: 100%;
	display: inline;

}

#profile-photo {

}